.places {
  margin: 0 auto 0;
  padding: 12px 0 0 0;
  max-width: 984px;
}

.place {
  display: grid;
  grid-template-columns: fit-content(460px) fit-content(484px);
  /*grid-template-rows:  fit-content(152px) minmax(1fr, 460px);*/
  grid-template-rows:  fit-content(152px) fit-content(460px);
  grid-template-areas:
  "place__title place__url"
  "place__image place__paragraphs";
  /*grid-template-areas:
  "place__title-container place__url"
  "place__image place__paragraphs";*/
  padding: 80px 0 0 0;
  margin: 0;
  column-gap: 40px;
  row-gap: 48px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: fit-content(440px) fit-content(456px);
    grid-template-rows:  fit-content(152px) fit-content(440px);
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: fit-content(340px) fit-content(352px);
    grid-template-rows:  fit-content(92px) fit-content(340px);
    column-gap: 28px;
  }
}

@media screen and (max-width: 425px) {
  .place {
    /*grid-template-columns: fit-content(340px) fit-content(352px);*/
    grid-template-rows:   fit-content(35px) fit-content(46px) fit-content(320px) fit-content(545px);
    grid-template-areas:
  "place__title"
  "place__url"
  "place__image"
  "place__paragraphs";
    row-gap: 32px;
    column-gap: 0;
  }
}

.place__title-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-area: place__title-container;
}

.place__title {
  color: #ffffff;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  grid-area: place__title;
  padding: 0;
  margin: 0;
  align-self: end;
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 1.09;
  }
}

@media screen and (max-width: 425px) {
  .place__title {
    font-size: 32px;
    line-height: 1.09;
    margin: 0 auto 0; /*должны быть смещены влево*/
    justify-self: start;
    max-width: calc(100vw - 32px); /* хз чего здесь получилось или неьт*/
  }
}

.place__image {
  width: 100%;
  height: 100%;
  max-height: 460px;
  object-fit: cover;
  grid-area: place__image;
  display: block;
  align-self: center;
  justify-self: center;
}

@media screen and (max-width: 1024px) {
  .place__image {
    max-height: 440px;
  }
}

.place__url {
  grid-area: place__url;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .place__url {
    max-width: calc(100vw - 32px);
  }
}

.place__url-heading {
  color: #aaaaaa;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 0 0 12px 0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .place__url-heading {
    line-height: 1;
  }
}

.place__link {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
}

.place__paragraphs {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  grid-area: place__paragraphs;

}

.place__paragraph {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  padding: 0 0 26px 0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 1.63;
  }
}

.place__paragraph_no-botton-margin {
  padding: 0 0 0 0;
}
