.places {
  margin: 0 auto 0;
  padding: 12px 0 0 0;
  max-width: 984px;
}

@media screen and (max-width: 768px) {
  .places {
    padding: 15px 0 0 0;
  }
}

@media screen and (max-width: 425px) {
  .places {
    padding: 14px 0 0 0;
  }
}
