.footer__column_copyright {
  align-items: flex-end;
}

@media screen and (max-width: 700px) {
  .footer__column_copyright {
    display: flex;
    justify-content: start;
    flex-direction: row-reverse;
  }
}
