.conclusion__title {
  margin: 0 auto 0;
  color: #ffffff;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.055;
  width: 560px;
  text-align: center;
  z-index: 2;
  position: absolute;
  display: block;
  text-transform: none;
  text-decoration: none;
  top: 245px;
  left: 0;
  right: 0;
}

@media screen and (max-width: 1024px) {
  .conclusion__title {
    top: 195px;
  }
}

@media screen and (max-width: 768px){
  .conclusion__title {
    top: 115px;
  }
}

@media screen and (max-width: 630px){
  .conclusion__title {
    top: calc(100vw*0.103);
    font-size: 50px;
    max-width: 425px;
  }
}

@media screen and (max-width: 425px){
  .conclusion__title {
    top: 33px;
    font-size: 35px;
    line-height: 1;
    max-width: 288px;
  }
}
