.conclusion {
  padding: 0 0 0 0;
  margin: 92px auto 0;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 1184px;
  height: 740px;
  position: relative;
}

.conclusion__hover-layer {
  width: inherit;
  height: inherit;
  opacity: 0.3;
  background-color:#2a2c2f;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.conclusion__hover-layer:hover {
  opacity: 0.8;
  cursor: pointer;
}


.conclusion__title {
  margin: 0 auto 0;
  padding: 245px 0 0 0;
  color: #ffffff;
  font-weight: 900; /*Посмотреть какие замечания были от ревью по поводу максимальной жирности или типа того*/
  font-size: 72px;
  line-height: 76px;
  width: 560px;
  text-align: center;
  z-index: 2;
  position: relative;
  display: block;
  text-transform: none;
  text-decoration: none;

}

.conclusion__subtitle {
  margin: 0 auto 0;
  padding: 32px 0 0 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  width: 360px;
  text-align: center;
  z-index: 2;
  position: relative;
}
