.conclusion {
  padding: 0 0 0 0;
  margin: 92px auto 0;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1184px;
  max-height: 740px;
  height: calc(100vw*0.625);
  position: relative;
}

@media screen and (max-width: 1024px){
  .conclusion {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px){
  .conclusion {
    margin: 90px auto 0;
  }
}

@media screen and (max-width: 425px){
  .conclusion {
    margin: 60px auto 0;
  }
}
