.footer__link {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;
  text-decoration: none;
  margin: 0 18px 24px 0;
  padding: 0;
}

.footer__link:last-child {
  margin: 0 0 24px 0;
}

@media screen and (max-width: 700px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
    margin: 32px 0 0 0;
  }
  .footer__link:last-child {
    margin: 32px 0 0 0;
  }
}

.footer__link:hover {
  cursor: pointer;
  opacity: 0.8;
}
