.intro {
margin: 0 auto 0;
padding: 92px 0 0 0;
max-width: 984px;
}

/*@media screen and (max-width: 768px) {
  .intro {
    max-width: calc(100vw - 334px);
  }
}*/



@media screen and (max-width: 768px) {
  .intro {
    padding: 88px 0 0 0;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    padding: 64px 0 0 0;
  }
}
