.header__title {
  font-weight: 900;
  color: #ffffff;
  margin: 0 auto 0;
  padding: 56px 0 0 0;
  line-height: 100px;
  max-width: 720px;
  font-size: 96px;
  text-align: center;
}

@media screen and (max-width: 425px) {
  .header__title {
    max-width: 288px;
    line-height: 1.1;
    font-size: 40px;
    padding: 48px 0 0 0;
  }
}

@media screen and (max-width: 700px) and (min-width: 425px) {
  .header__title {
    line-height: 1.1;
    font-size: 60px;
    max-width: calc(100vw - 10px);
  }
}
