.header__tools-conainer {
  margin: 0 auto 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: calc(100vw - 96px);
}

@media screen and (max-width: 768px) {
  .header__tools-conainer {
    max-width: calc(100vw - 48px);
  }
}

@media screen and (max-width: 425px) {
  .header__tools-conainer {
    max-width: calc(100vw - 32px);
  }
}
